<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Courses</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
  <%-include('header') %>
  <div class="container mx-auto grid grid-cols-2 gap-4">
    <% courses.forEach(course => { %>
      <%- include('course', { course,userCourses}) 
      %>
    <% }); %>
</div>
<%- include('footer') %>
</body>
</html>