<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Course</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body class="bg-gray-100 min-h-screen flex flex-col">
    <%- include('header') %>
    
    <div class="flex-grow flex items-center justify-center">
        <div class="bg-white rounded-lg shadow-lg p-8 max-w-md w-full">
            <h2 class="text-2xl font-bold mb-6 text-gray-700 text-center">Create a New Course</h2>
            
            <form action="/course" method="post" class="space-y-4">
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
                
                <div class="flex flex-col">
                    <label for="title" class="mb-2 text-gray-600 font-medium">Course Name:</label>
                    <input type="text" id="title" name="title"  
                           class="p-2 border border-gray-300 rounded focus:ring focus:ring-green-300">
                </div>
                
                <div class="flex justify-center">
                    <input type="submit" value="Create Course" 
                           class="py-2 px-6 bg-green-500 text-white font-semibold rounded-lg hover:bg-green-700 transition">
                </div>
            </form>
        </div>
    </div>
    <div class="rounded-md bg-blue-200 flex p-2 mx-auto"><%-include('notification') %></div>
    <%- include('footer') %>
</body>
</html>