<div class="grid grid-cols-4 gap-4 w-full bg-gradient-to-r from-indigo-400 from-10% to-emerald-600 to-90%">
    <div class="p-4 col-start-1 col-span-1">
    Learning Platform</div>
    <div class="p-4 col-start-2 col-span-1">
        &copy; not reserved</div> 
        <div class="p-4 col-start-3 col-span-1">
            developer: <span>Nishanth</span></div>    
</div>