<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Management System</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="grid grid-cols-4 gap-4">
        <div class="col-start-2 col-span-2">
            <%= title %>
            <p>Don't Have Any Account <a href="/signup" class="text-blue-800">Sign-Up</a></p>
            <p>LogIn To Your Account <a href="/login" class="text-blue-800">LogIn</a></p>
        </div>
    </div>
</body>
</html>